body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #ffffff;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
}

.user_card {
  height: 350px;
  width: 400px;
  margin-top: 100px;
  margin-bottom: auto;
  background: #299be4;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.form_container {
  margin-top: 50px;
}

.login_btn {
  width: 100%;
  background: #566787;
  color: #ffffff !important;
}

.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.login_container {
  padding: 0 2rem;
}

.input-group-text {
  background: #566787;
  color: #ffffff !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
  height: 38px;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.links a {
  font-weight: bold;
  text-decoration: none;
}
