body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 90vh;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-selector {
  margin-bottom: 10px;
  label {
    font-weight: bold;
  }
  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message-content {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
  text-align: right;
}

.received {
  background-color: #ffffff;
  align-self: flex-start;
}

.message-text {
  margin: 0;
  font-size: 14px;
}

.message-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.message-input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: none;
}

.send-button {
  width: 15%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
}

.send-button:hover {
  background-color: #0056b3;
}

.read-indicator {
  display: flex;
  align-items: center;
  color: green;
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;

  i {
    margin-right: 5px;
  }
}

.typing-notification {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
  text-align: center;
  font-style: italic;
}
